<ion-header>
  <ion-toolbar>
    <ion-title>
      Músicas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color = "medium" (click)= "irParaCadastrarPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>
      <ion-item-group *ngFor = "let contato of _lista_musicas">
        <ion-item lines ="none" (click)= "detalhar(contato)"><b>Nome:</b>{{contato.getNomemusica()}}</ion-item>
      </ion-item-group>
</ion-list>

</ion-content>
